<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Dip Vote</h1>
      <%= yield %>
    </div>

    <script>
      if(navigator.appName == 'Microsoft Internet Explorer') alert('it looks like you are using IE, could you not?')
    </script>
  </body>
</html>